.radio_container {
    width: 70px;
    margin: 0 auto;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.yellow {
    background: yellow;
}

.yellow-text {
    color: lightcoral;
}

.pink {
    background: pink;
}

.pink-text {
    color: cornflowerblue;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}