.container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
    "image title title"
    "image text text"
    "image time time";
    background-color: chartreuse;
    padding: 5px 5px 5px 10px;
    max-width: 300px;
    margin: 10px;
}

.image {
    display: block;
    grid-area: image;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: auto;
    object-fit: cover;
}

.title {
    grid-area: title;
    background-color: darkslategray;
    color: cornflowerblue;
    margin: 0px 0px 0px 15px;
    padding: 10px 15px 3px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.text {
    grid-area: text;
    background-color: darkslategray;
    color: antiquewhite;
    padding: 5px 15px;
    margin: 0px 0px 0px 15px;
}

.time:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 24px;
    background: radial-gradient(64px at top left, transparent 50%, darkslategray 51%) no-repeat right bottom;
}

.time {
    position: relative;
    grid-area: time;
    background-color: darkslategray;
    color: cadetblue;
    display: flex;
    justify-content: right;
    text-align: center;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    margin: 0px 0px 0px 15px;
}

