.todo {
    max-width: 300px;
    align-items: center;
    border: 2px solid lightseagreen;
    border-radius: 4px;
    margin: 1rem;
    background-color: powderblue;
}

.todoContainer {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
