.superInput {
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.superInput:focus {
    padding: 5px;
    border: 1px solid steelblue;
}

.errorInput {
    outline: none;
    border: 1px solid lime;
    background: red;
}

.error {
    color: red;
}