.blue {
    border-bottom: 5px solid blue;
    outline: none;
    margin-bottom: 10px;
}

.blue:focus {
    border-bottom: 1px solid steelblue;
    margin-bottom: 14px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.testSpanError {
    color: blue;
}

.input {
    margin-bottom: 35px;
}