.radio_label {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    cursor: pointer;
}

.radio_label input {
    margin-right: 10px;
    cursor: pointer;
}