.nav_container {
    overflow: hidden;
}

.nav_wrapper {
    margin: 27px auto 27px;
    position: relative;
    max-width: 450px;
    background-color: #34495e;
    border-radius: 8px;
}

nav a {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
}

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.link {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 1.4rem;
}

.link:hover {
    background-color: #ffffff;
    color: #EEA200;
    padding: 24px 10px;
}

.active {
    transition: 0.4s;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.4rem;
    background-color: #ffffff;
    color: #EEA200;
    padding: 24px 10px;
}

/*.active {*/
/*    background-color: #ffffff;*/
/*    color: #EEA200;*/
/*    padding: 24px 10px;*/
/*}*/